body {
  margin: 0;
  padding: 0;
  background-image: url(../img/Principales/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.header {
  margin: auto;
  text-align: center; }
  .header .logo-contenedor .logo {
    max-height: 200px;
    border-radius: 50%; }
  .header .contenedor-lista {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .header .contenedor-lista .el-lista {
      display: block;
      margin: 1em 2em; }
      .header .contenedor-lista .el-lista a {
        padding: 1em 2em;
        display: block;
        text-decoration: none; }
      .header .contenedor-lista .el-lista a:hover {
        border-left: 2px black solid;
        border-right: 2px black solid; }

.mynav {
  margin: 10px 300px; }

.titulo {
  text-align: center; }

#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.producto {
  width: 16rem;
  margin: 25px 1rem;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); }
  .producto h3 {
    padding: 10px;
    border: solid 1px grey;
    border-radius: 5px;
    text-align: center; }
  .producto p {
    text-align: right;
    color: blue;
    font-size: 30px; }

#tipo, #precios {
  margin: 10px 40px;
  padding: 10px 20px;
  background-color: lightgrey; }

.carouselimg {
  height: 400px; }
